Repository victorandujar/MobileCorp-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Add staleTime to save data & modify link functionality DetailPage
  src/pages/DetailPage/DetailPage.jsx
  src/pages/DetailPage/DetailPageStyled.js
  src/pages/HomePage/HomePage.jsx
Due: eslint, prettier --write

Add application README
  README.md
  src/images/quality-gate.png
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Add isFetching from useQuery to spinn loader when data is been fetched
  src/pages/DetailPage/DetailPage.jsx
  src/pages/HomePage/HomePage.jsx
Due: eslint, prettier --write

Add isFetching from useQuery to spinn loader when data is been fetched
  src/pages/DetailPage/DetailPage.jsx
  src/pages/DetailPage/DetailPage.test.jsx
  src/pages/HomePage/HomePage.jsx
Due: eslint, prettier --write

Add lint-staged command to pre-commit husky to lint code
  .husky/pre-commit
Due: none

Add lint-staged command to husky pre-commit to lint code
  .husky/pre-commit
Due: none

Modify SearchBar and HomePage title styles to make them full responsive
  src/components/SearchBar/SearchBarStyled.js
  src/pages/HomePage/HomePageStyled.js
Due: eslint, prettier --write

Modify price display for MobileDetail component
  src/components/Actions/Actions.jsx
  src/components/Actions/ActionsStyled.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,jsx}
  prettier --write: any of: *.{js,jsx,css,json,md}
